/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,300;1,500&display=swap');

/* All elements set back to zero */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #e2d1f9;
    display: flex;
    flex-direction: column;

}

/* Header */
header {
    background-color: #317773;
    padding: 10px;
    width: 100%;
    text-align: left;
    justify-content: space-evenly;
    position: fixed;
}

#navbar {
    font-size: 110%;
    color: white;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: flex-end;
    float: right;
    margin-right: 20px;
    text-decoration: none;
}

header a {
    display: inline-flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 150%;
    color: white;
    margin: .5rem;
    text-decoration: none;
}

.active:hover {
    border-bottom: 1px solid white;
}

.footer {
    background-color: #317773;
    bottom: 0;
    position: fixed;
    width: 100%;
    margin-top: 75px;
    color: white;
}

/* Main content */
.about {
    background:#e2d1f9;
}

/* Media query for screens under 320px */
@media screen (max-width:320px) {
    header a {
        font-size: 70%;
    }

    #navbar {
        font-size: 70%;
    }
}